<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
      <link rel="stylesheet" href="/stylesheets/login.css">
      


</head>
<body>
    <div class="login-container">
     <img src="/images/new_logo.jpg" />
    <h2> We Chat Login</h2>

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}

    <form action="/login" method="POST">
        <label for="email">Email</label>
        <input type="email" id="username" name="email" required placeholder="enter email">

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required   placeholder="enter password">

        <button type="submit">Login</button>
    </form>

    <p class="signup-link">Don't have an account? <a href="/">Sign up</a></p>
</div>
</body>
</html>

