:root {
    --primary: #171c2a;
    --secondary: #11141f;
    --tertiary: #1f222e;
    --dark: #0e0e12;
    --green: #52d794;
    --blue: #00b3bd;
    --light: #fff;
    --red: indianred;
  }

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(149.96deg, #1c92d2 12.51%, #f2fcfe 89.53%); */
    /* background: linear-gradient(to right, var(--green) 0%, var(--blue) 100%); */
    background: url('/images/DALL·E\ 2025-03-17\ 11.06.29\ -\ A\ futuristic\ cyberpunk-style\ dark\ mode\ background\ for\ a\ chat\ web\ application.\ The\ background\ features\ deep\ black\ and\ dark\ blue\ tones\ with\ neon\ cyberpu.webp'),#000;
    background-position: center;
    background-size: cover;
    z-index: 1;
   
}
/* body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  
} */




.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* .login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.login-container {
    background: rgba(255, 255, 255, 0.2); /* Transparent White */
    backdrop-filter: blur(10px); /* Blur Effect */
    padding: 35px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


input {
    width: 100%;
     height: 35px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    background:#5D3754;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}
 button:hover {
    background: #A78AB5;
}

.error {
    color: red;
}
.login-container input {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}
.login-container h2{
    color: white;
  margin-bottom: 20px;
}
.signup-link{
    margin-top: 15px;
  font-size: 14px;
  color: white;
}
.login-container img{
    width: 100px;
}
