body {
    font-family: Arial, sans-serif;
    background: url('/images/green-blue-theme-background.webp'), linear-gradient(149.96deg, #1c92d2 12.51%, #34a853 89.53%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.verify-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.2);
}

h2 {
    font-size: 24px;
    text-align: center;
    color: #1c92d2;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #075e54;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #1c92d2;
    background-color: #e6f7ff;
}

input[type="file"] {
    margin-bottom: 20px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    padding: 10px;
    background-color: #34a853;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c92d2;
}

button:active {
    background-color: #34a853;
}

.error {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.blog-image {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: auto;
    border: 2px solid #34a853;
}